@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,800&display=swap");

/**** VARIABLES ****/
:root {
    /**** COLORS ****/
    /* used for (1)  hovering over buttons */
    --deepForestGreen: rgba(51, 114, 85, 1);
    /* used for (1) buttons in standard mode, (2) loaders, (3) success animation, (4) greeting */
    --avocadoGreen: rgba(95, 191, 129, 1);
    /* used for (1) disabled buttons, (2) loaders  */
    --avocadoGreenLowOpacity: rgba(95, 191, 129, 0.3);
    /* used for (1) light text */
    --mouseGrey: rgba(240, 240, 240, 0.3);
    /* used for (1) header */
    --lightGrey: rgba(240, 240, 240, 1);
    /* used for page indicator */
    --deepOceanBlue: rgba(33, 49, 63, 1);
    /* used for (1) input border, (2) textarea border */
    --lightestGrey:rgba(221, 221, 221, 1);
    --placeholderColor: rgb(152, 152, 152);

    --limeGreen: rgba(147, 216, 78, 1);
    --darkMossGreen: rgba(58, 140, 102, 1);

    /**** FONT FAMILY ****/
    --standardFont: "Nunito Sans", sans-serif;

    /**** FONT SIZES ****/
    --standardFontSize: 20px;
    --headingFontSize: 38px;
    --bigHeadingFontSize: 42px;
    --iconsFontSize: 30px;
    /**** FONT SIZES MOBIL ****/
    --standardFontSizeMobil: 14px;
    --headingFontSizeMobil: 28px;
    --bigHeadingFontSizeMobil: 32px;

    /**** BORDER RADIUS ****/
    /* text input in forms */
    --formInputBorderRadius: 4px;
    --buttonHoverBorderRadius: 40px;

    /**** BORDER WIDTH ****/
    /* on hover in form inputs */
    --formInputBorderWidthOnHover: 1px;
}

/**** ALL ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--standardFont);
}

/**** BUTTONS ****/
button {
    background: var(--avocadoGreen);
    border:none;
    cursor: pointer;
    border-radius: 4pt;
    color: white;
    font-size: var(--standardFontSize);
    font-weight: 600;
}

button[disabled]:hover {
    border-radius: 4pt;
    cursor: not-allowed;
}


button:hover {
    background: var(--deepForestGreen);
    border-radius: var(--buttonHoverBorderRadius);
    transition: all 0.5s ease;
}

button:disabled {
    background: var(--avocadoGreenLowOpacity);
    color: var(--lightGrey);
    cursor: not-allowed;
}

button[class="deleteButton"] {
    background: #ff0000;
    padding: 0 15px;
    height: 100%;
}
button[class="deleteButton"]:hover {
    background: #730000;

}
button[class="deleteButton"]:disabled {
    background: var(--placeholderColor);

}
/**** TEXT ****/
p {
    font-size: var(--standardFontSize);
}

/**** TEXTAREA ****/
textarea {
    width: 100%;
    resize: none;
    font-size: var(--standardFontSize);
    border-radius: var(--formInputBorderRadius);
    border: none;
    background: var(--lightGrey);
}


/**** INPUT FIELDS ****/


/**** HEADINGS ****/
h1 {
    font-size: var(--headingFontSize);
    font-weight: 800;
}
@media screen and (max-width: 750px){
    h1 {
        font-size: var(--headingFontSizeMobil);
    }
}
h2 {
    font-size: var(--headingFontSize);
    font-weight: bold;
}

/**** FORM ****/
form[class="form"] div[class="input-box"] {
    width: 100%;
    margin-top: 40px;
}
form[class="form"] div[class="input-box"] input,
form[class="form"] div[class="input-box"] select,
textarea{
    position: relative;
    width: 100%;
    color: black;
    margin-top: 8px;
    border: 2px solid var(--lightestGrey);
    padding: 0 15px;
    font-size: var(--standardFontSize);
}

form[class="form"] div[class="input-box"] select {
    background: transparent;
    height: 63%;
    border-radius: 4px;
}
label {
    color: var(--placeholderColor);
}
form[class="form"] div[class="input-box"] input:focus,
form[class="form"] div[class="input-box"] select:focus,
textarea:focus{
    border-color: black;
}
form[class="form"] div[class="input-box"] input::placeholder {
    color: var(--placeholderColor);
}
form[class="form"] div[class="column"] {
    display: flex;
    column-gap: 15px;
}
form[class="form"] button {
    width: 100%;
    margin-top: 30px;
}

label[class='form-control'] {
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
}


/**** TABLES ****/
table {
    width: max-content;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}


/**** ETC ****/
i:hover {
    cursor: pointer;
}



div[class='wrapper'] {
    margin-top: 20px;
    place-self: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

.submit.loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}
.submit {
    height: 120px;
}
@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}




